.fa-fw {
	margin-right: 10px;
}

.fa::before {
	content: '';
	display: inline-block;
	background: url("../../img/check.png") no-repeat 0 0;
	/*padding:  9px 10px;*/
	vertical-align: middle;
}

.faa::before {
	content: '';
	display: inline-block;
	background: url("../../img/login-chk.png") no-repeat 0 0;
	padding:  10px 10px;
	vertical-align: middle;
	margin-right: 4px;
}

.edit-icon-img {
	background: url("../img/edit-icon-contact.png") no-repeat 0 0;
	display: inline-block;
	vertical-align: middle;
	content: '';
	height: 15px;
	width: 30px;
	outline: none;

}

.flag::before {
	content: '';
	display: inline-block;
	background: url("../img/flags32.png") no-repeat 0 0;
	padding: 10px 12px;
	vertical-align: middle;
}

.flag-1::before {
		background-position: 3px 0px;
}



.fa-phone::before {
	background-position: 3px 0px;
}

.fa-attachement::before {
	background-position:-386px -111px;
	height: 24px;

}

.fa-phone-red::before {
	background-position: 3px -42px;
	padding: 12px;
}

.fa-more-icon::before {
	background-position: -459px -115px;
	padding: 16px;
}

.fa-back::before {
	background-position: -464px -79px;
    padding: 12px;
}


.fa-phone-red:hover::before {
	background-position: -424px -3px;
}

.fa-text-red:hover::before{
	background-position: -427px -44px;

}
.fa-text-white::before {
	background-position: -46px 1px;
}

.fa-inbox::before {
	background-position: -151px -83px;
}

.active > .fa-inbox::before {
	background-position: -151px -43px;	
}

.fa-star::before {
	background-position: -98px -79px;
	padding: 12px;
}

.active > .fa-star::before {
	background-position: -98px -42px;
	padding: 12px;
}

.fa-voicemail::before {
	background-position: -208px -82px;
	padding: 12px;
}

.fa-voicemail-small::before {
	background-position: -464px -39px;
	padding: 12px;
}

.fa-video::before {
	background-position: -464px -2px;
	padding: 12px;
}

.fa-gray-attachment::before {
	background-position: -428px -102px;
    padding: 23px 14px;
}
.fa-red-phone::before {

    background-position: -424px 24px;
    padding: 29px 19px;

}
.active > .fa-voicemail::before {
	background-position: -207px -43px;
	padding: 12px;
}

.fa-text::before {
	background-position: -45px -83px;
}

.fa-text-red::before,
.active > .fa-text::before {
	background-position: -45px -44px;	
}


.fa-circle-plus::before {
	background-position: -151px -1px;
}
.fa-circle-plus:hover::before {
	background-position: -426px -81px;
}

.fa-refresh::before {
	background-position: -150px -117px;
}

.fa-block::before {
	background-position: -205px -117px;
}

.fa-delete::before {
	background-position: -207px -1px;
}

.fa-fav-star::before {
	background-position: -45px -118px;
}

.fa-fav-star-fill::before {
	background-position: -96px -118px;
}

.fa-search::before {
	background-position: -96px 0px;
}

.fa-image::before {
	background-position: -264px -87px;
}

.fa-download-red::before {
	background-position: -264px -117px;
}

.fa-unchecked::before {
  content: '';
  background-position: 3px -19px;
}

.faa.fa-unchecked::before {
  content: '';
  background-position: 3px 1px;
}

.fa-unchecked.chkbig::before {
/*  content: '';*/
   background-position: 0 0;
  height: 25px;
}

.fa-checked::before {
    background-position: 3px 1px;
}

.faa.fa-checked::before {
    background-position: 3px -19px;
}

.fa-checked.chkbig::before {
  background-position: -261px -41px;
  height: 25px;
}

.fa-mic::before {
	 background-position: -323px -49px;
	 height: 30px;
}

.fa-keypad::before {
	 background-position: -323px 3px;
	 height: 30px;
}

.fa-mute::before {
	background-position: -323px -49px;
	height: 30px;
}

.fa-radio-checked::before {
	background-position: -386px -40px;
	height: 30px;
}

.fa-radio-unchecked::before {
	 background-position: -386px -76px;
	height: 30px;
}