.glyphicon {
    color: #7d1313;
    font-size: 20px;
    top: 3px;
}
/** top nav settings **/

.nav-custom .caret {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px dashed;
}

.tracker-section {
    color: #fff;
    float: left;
    margin-top: 14px;
    position: absolute;
    right: 205px;
}

.breadcrumb {
    background-color: #ebeff2;
    border-radius: 4px;
    list-style: outside none none;
    margin-bottom: 20px;
    padding: 8px 1px;
}

strong {
    color: #444444;
    font-weight: 600;
}

.navbar-nav  > li > a {
    cursor: pointer;
    padding-bottom: 20px;
    padding-top: 20px;
}

.top-right {
    border-right: 1px solid #fff;
    padding-right: 15px;
}

.padding_left {
    padding-left: 0;
}

.padding_right {
    padding-right: 0;
}

.ti-time {
    font-size: 19px;
    vertical-align: text-bottom;
    margin-right: 7px;
}

.btn.btn-blue {
    background-color: #5d9cec ;
    border: 1px solid #fff ;
    border-radius: 0 ;
    color: #fff ;
    padding: 6px 19px;
}

.btn.btn-blue:hover,
.btn.btn-blue:active,
.btn.btn-blue:focus {
    background-color: #427AC1 ;
    border: 1px solid #fff; 
}

.btn.btn-green {
    background-color: #d46a6a;
    border: 1px solid #fff ;
    border-radius: 0 ;
    color: #fff;
    padding: 6px 19px;
}

.btn.btn-green-lg {
    background-color: #d46a6a;
    border-radius: 0 ;
    color: #fff;
    padding: 26px 137px;
    font-size: 18px;
}

.btn.btn-green:hover,
.btn.btn-green:active,
.btn.btn-green:focus{
    background-color: #d46a6a;
}

.btn.btn-green-lg:hover,
.btn.btn-green-lg:active,
.btn.btn-green-lg:focus{
    background-color: #d46a6a;
}

.treeview span {
    margin-left: 5px;
    vertical-align: middle;
}

.text-gry {
    color: #98a6ad;
}

.heading-text-color {

    color: #75798b;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 0;
}



/*** invoice ***/

.sub-heading {
    font-size: 16px;
    color: #75798b;
    margin-bottom: 20px;
}

.right-btn {
    margin-top: 18px;
}


.header-section {
    border-bottom: 1px solid #ccc;

}

.invoice-table.table > thead > tr > th, 
.invoice-table.table > tbody > tr > th, 
.invoice-table.table > tfoot > tr > th, 
.invoice-table.table > thead > tr > td, 
.invoice-table.table > tbody > tr > td, 
.invoice-table.table > tfoot > tr > td {
    border-top:1px solid #ccc;
}

.invoice-table.table > thead > tr > th {
    border-bottom: 1px solid #ccc;
}

.invoice-table {
    margin-top: 15px;
    border-bottom: 1px solid #ccc;
}

.text-red {
    color: #ff0000;
}

.form-inline.form-inline-setting {
    padding-bottom: 20px;
}



/** staff **/

article {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding-top: 15px;
}

article + article {
    border: none;
}

.modal-title {
    color: #505458;
    }

.form-horizontal .control-label {
    color: #797979;
    font-weight: 600;
}

.rate-per-text {
    color: #797979;
    margin-top: 5px;
}

.notes {
    color: #797979;
    font-size: 14px;
}

label.error {
    color: #ff0000;
}

span.required-field {
    color: #ff0000;
}

/** add new Invoice **/

.add-invoice-settings {
    margin-top: 20px;
    margin-bottom: 60px;
}


.add-invoice-table th {
    background-color: #ebeff2;
    font-weight: 600;
    color: #444444;
}

 .remove-tr {
    margin-right: -60px;
    position: relative;
}

.action {
    cursor: pointer;
    font-size: 15px;
   
}

.glyphicon-remove-circle {
    color: #fab2b1;
}

.add-another-line {
    border-top: 1px solid #ccc;
    margin-top: 80px;
    margin-bottom: 40px;
}

.add-another-line .dropdown{
    margin-left: 20px;
    margin-top: -20px;
}


.line-item-sums.sub-total .total-amount,
.line-item-sums.sub-total .total-label {
    border: medium none;
}

.line-item-sums .total-label {
    border-top: 1px solid #eee;
    color: #666;
    display: inline-block;
    margin-left: 50%;
    min-height: 28px;
    padding: 10px 1%;
    width: 30%;
}

.line-item-sums .total-amount {
    border-top: 1px solid #eee;
    color: #666;
    float: right;
    margin-left: -1%;
    min-height: 28px;
    padding: 10px 2%;
    text-align: right;
    width:20%;
}

.line-item-sums.balance-due .total-amount,
.line-item-sums.balance-due .total-label {
    background-color: #ebeff2;
}
   
.amount-section {
    border-bottom: 1px solid #ccc;
    padding-bottom: 7%;
}

.add-invoice-footer {
    margin-top: 20px;
}

.btn-white-border {
    background-color: #fff;
    border-color: #e3e3e3 !important;
    padding: 8px 19px;
    border-radius: 0;
}

.btn.btn-white-border:hover,
.btn.btn-white-border:active,
.btn.btn-white-border:focus{
    background-color: #4e9889;
    color: #fff;
}


.add-invoice-table tr td:nth-child(n+3):nth-child(-n+5) {
    width: 250px;
}



/** setting page **/
.settings_page {
    border-bottom: 1px solid #ccc;
    padding-bottom: 40px;
    padding-top: 40px;
}

.checkbox-inline + .checkbox-inline {
    margin-left: 0px;
}
    

.settings_page.emails-settings {
    padding-left: 100px;
    padding-right: 100px;
}

.emails-sections {
    margin-bottom: 40px;
}

.emails-sections a {
     margin-top: 12px;
     color: #999;
     text-decoration: underline;
 }

.emails-sections a:hover {
     color: #999;
 }

.create-account-text {
    margin: 0 auto;
    padding-top: 20px;
    width: 800px;
}

@media screen and (max-width: 1179px) {

    .create-account-text {
        width: auto;
    }

}

@media screen and (max-width: 480px) {

    .line-item-sums .total-label{
        margin-left: 0;
        width: 50%;
    }

    .line-item-sums .total-amount {
        width: 50%
    }

}


/*** invoice view ***/

.invoice-print {
    left: 0;
    position: absolute;
    top: 0;
}

.box-setion {
    margin-left: 55px;
    margin-top: 44px;
}

.company-info {
    margin-bottom: 50px;
    margin-top: 15px;
    color: #797979;
}

.invoice-title {
    color: #4e4e4e;
    font-size: 36px;
    font-weight: 600;
}

.invoice-no {
    color: #4e4e4e;
    font-weight:600;
}

.invoice-date {
    margin-top: 122px;
    color: #797979;
    font-size: 14px;
    line-height: 2;
}

.invoice-view-right{
    padding-right: 70px;
    margin-top: 50px;
}

.th-background th {
    background-color: #ebeff2;
    color: #444444;
    font-weight: 600;
}

.table-responsive {
    min-height: auto;
    overflow-x: visible;
}

.amount-section.invoice-print-amt {
    border-bottom: 0 none;
    margin-top: 40px;
}

.btn-hover {
    display: none;
}

.box:hover .btn-hover{
   display: inline;
   position: absolute;
   right: 2px;
   top: 2px;
}

.pnotify-custom {
    margin: 0 auto;
    left: 0 !important;
}

label.error {
    color: #ff0000;
    font-weight: 400;
    font-size: 13px;
}

.action-btn-settings > span > a, 
.invoice-table a,
.invoice-table th {
    color: #666666;
    font-size: 14px;
    font-weight: 600;
    margin-right: 5px;
}

.staff-view .form-group {
    border-bottom: 1px solid #efefef;
    margin-bottom: 15px;
    padding-bottom: 10px;
}


/** pagination **/

.btn.btn-default.active,
.btn.btn-default.next-active,
.btn.btn-default.pre-next{
    background: #5fbeaa;
    border-color: #5fbeaa;
    color: #fff;
}

.btn.btn-default.btn-next-active {
    background-color: #fff;
}

.btn.btn-default.btn-next-active:hover {
    border-color:#5fbeaa; 
}

.btn.btn-default.active:hover,
.btn.btn-default.next-active:hover,
.btn.btn-default.pre-next:hover{
    background-color: #4e9889;
}

.add-invoice-footer .btn {
    margin-right: 4px;
}

.staf-search .form-control {
    width: 245px!important;
}

.btn.btn-default.btn-sm {
    margin-bottom: 24px;
    margin-left: 6px;
}

.modal-dialog {
    margin: 97px auto !important;
    }


.fa-icon::before {
    background:url('../../img/stripe.png') no-repeat;
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 25px;
    height: 27px;
}

.dashbaord::before {
    background-position: 0 0px;
}

.estimate::before {
    background-position: -37px -1px;
}

.invoices::before {
    background-position: -73px 0;
}

.clients::before {
    background-position: 0 -39px;
}

.tracker::before {
    background-position: 0 -112px;
}

.reports::before {
    background-position: -37px -39px;
}

.invoice-items::before {
    background-position: -1px -75px;
}

.staff::before {
    background-position: -37px -225px;
}

.fa-trash:before {
    background-position: -74px -185px;
}

.fa-pencil::before {
     background-position: -74px -38px;
 }

.fa-eye::before {
    background-position: -71px -73px;
}

.custom-radio-inline {
    padding-top: 0px !important;
    padding-left: 0;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

html .ui-autocomplete {
    height: auto;
    min-height: 29px;
}
.popup-confirm-button {
    background-color: #623e56;
    color: #fff !important;
}
.padding-0 {
    padding: 0px;
}
.margin-top-8 {
    margin-top: 8px;
}
.custom-selectbox-error {
    border-color: #ff0000;
}
.custom-due-date-label {
    width: 101px;
}
.custom-amount-invoice-label {
    width: 250px;
}
.custom-amount-invoice-select {
    width: 185px;
}
.logo-lg > img {
    width: 78px;
}
.custom{
    width:100%;
    overflow: auto;
}
.small-box {
   border: 1px solid #ccc;
   border-radius: 4px;
   padding: 36px;
   text-align: center;
}
/** listing table for sales order**/
 #columns{
    width: 100%;
    border: 13px solid #bed5cd;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
/***loader css***/
 .glyphicon.spinning {
    animation: spin 1s infinite linear;
    display:none;
    color:#fff;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
.pagination > .active > a{
    background-color: #d46a6a !important;
    border-color: #d46a6a !important;
}
.pagination > li > a{
    color:#7d1313 !important;
}
.dropdown-menu::after {
    position: absolute;
    top: -14px;
    left: 131px;
    display: inline-block;
    border-right: 11px solid transparent;
    border-bottom: 14px solid #2d2f3c;
    border-left: 11px solid transparent;
    content: '';
}

.dropdown-menu::before {
    position: absolute;
    top: -15px;
    left: 130px;
    display: inline-block;
    border-right: 12px solid transparent;
    border-bottom: 15px solid #2d2f3c;
    border-left: 12px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: "";
}
.btn-primary {
    background-color: #d46a6a;
    border-color: #d46a6a;
    color: #fff;
}
.btn-primary:hover {
    background-color: #d46a6a;
    border-color: #d46a6a;
    color: #fff;
}
.require {
    color:red;
}
.btn-success {
   background-color: #d46a6a;
    border-color: #d46a6a;  
}
.btn-success:hover,.btn-success:focus, .btn-success:active{
    background-color: #d46a6a;
    border-color: #d46a6a;
    color: #fff;
}
.breadcrumb{
    color:#7d1313;
}
.box {
box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}


.box-border {
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #f7f7f7;
    margin-bottom: 20px;
}

.dashboard-box .fa-files-o, 
.dashboard-box .fa-users{
    color: #e9e9e9;
    font-size: 100px;
    padding: 30px;
}

.content.dashboard-box{
    padding-top: 40px;
}

.file-name {
    color: #989898;
    font-size: 18px;
    font-weight: 600;
}

.auth-user {
    color: #ffaa05;
    margin-bottom: -13px;
}

.dashboard-box .fav-price {
    font-size: 30px;
}

.fav-price {
    color: #7d1313;
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.background-file {
   background-color: #fafafa;
   border-radius: 10px;
   padding-bottom: 10px;
}

.dropdown-toggle.btn-success:hover {
    background-color: #d46a6a;
    border-color: #d46a6a;
}
.saleshistory .dl-horizontal dt {
     color: #878787;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 5px;
    width: auto;
}

.saleshistory .dl-horizontal dd {
    color: #989898;
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
}
.dl-horizontal dd {
   margin-left: 120px;
   text-align: right;
}
.Educational-info .modal-title {
   color: #7d7a7a;
   font-size: 24px;
   padding-bottom: 16px;
}

.Educational-info .modal-content {
   border-color: #d46a6a;
   border-radius: 10px;
   border-style: solid;
   border-width: 3px 1px 1px;
}

.fa-times-circle {
   color: #9371cd;
}
.Educational-info .modal-header {
    border-bottom: none;

}

.Educational-info .close {
    opacity: 1;

}

.Educational-info .modal-body{
    padding: 40px;

}
 #table-tournament > thead > tr > th {
    text-align: center;
    font-size: 12px;
}

#table-tournament {
    /*display: block;*/
    overflow: auto;
    white-space: nowrap;
}

#table-tournament > thead > tr > th,
#table-tournament > tbody > tr > td {
    /*border-color: #000;*/
}

 #table-tournament > thead > tr > th.tournament {
    border: 2px solid #000;
 }

 #table-tournament > thead > tr > th.l-border,
 #table-tournament > tbody > tr > td.l-border {
    border-left: 2px solid #000;
 }

 #table-tournament > thead > tr > th.r-border,
 #table-tournament > tbody > tr > td.r-border {
    border-right: 2px solid #000;
 }

  #table-tournament .l-border select {
    width: 83px;
    padding: 6px 12px;
  }

  #table-tournament select {
    width: 50px;
    padding: 6px 7px;
  }

  .top-nav {
    margin-bottom: 0;
    border-top: 1px solid #7d1313;
    border-bottom: 1px solid #7d1313;
  }

  .top-nav .container-fluid,
  .top-nav .navbar-collapse {
    padding: 0 !important;
  }

  .navbar-nav li a .glyphicon {
    margin-right: 10px;
  }

  .top-nav .navbar-nav > .active > a,
  .top-nav .navbar-nav > .active > a:focus,
  .top-nav .navbar-nav > .active > a:hover {
    background-color: #d46a6a !important;
    color: #fff;
  }

  .fancyTable > thead > tr:nth-child(3) > th,
  .fancyTable > tbody > tr > th {
    width: 110px;
  } 