/*including All Css File*/
@import url("custom-font.css");
@import url("font-awesome.css");
/*including All Css File*/

/* Base Css
-------------------------------------------------- */

body {
    background-image: url("../img/wraper-bg.png");
    background-repeat: repeat;
    background-color: #f4f4f4;
    font-family: 'Montserrat', sans-serif;
}


/* Top Nav Settings
-------------------------------------------------- */
.user-image {
    border-radius: 30px;
    height: 60px;
    width: 60px;
    margin-right: 14px;
}
label.error{
    color: red;
}
.left-top-drop a {
    font-size: 15px !important;
    padding: 0 10px !important;
}

.padding-left {
    padding-left: 0;
}

.padding-right {
    padding-right: 0;
}


.logo-mini > img {
    margin-top: 25px;
    width: 44px;
}

li.active .fa,
li.active a span {
    color: #fff;
}

.sidebar-menu .fa {
    font-size: 25px;
    padding-right: 33px;
    /*color: #4a4a4a;*/
}

.navbar-custom-menu .fa-shopping-basket {
    font-size: 30px;
}


.logo-lg > img {
    width: 102px;
    padding: 9px 0;
}

.hidden-xs.hidden-sm {
    margin-right: 10px;
}

.dropdown-menu.left-top-drop {
    background-clip: padding-box;
    background-color: #f6f6f6;
    border: medium none;
    border-radius: 0 !important;
    box-shadow: none;
    float: left;
    font-size: 14px;
    left: 0;
    list-style: outside none none;
    margin: 2px 0 0;
    padding: 17px 0;
    position: absolute;
    text-align: left;
    top: 97%;
    width: 261px !important;
    z-index: 1000;
}

.sidebar-menu .fa:hover {
    color: #fff
}
.left-top-drop a {
    color: #909090 !important;
    font-size: 16px !important;
}

.left-top-drop a:hover {
    color:#fff !important;
}

.top-heading {
    color:#737373;
    font-size: 26px;
    margin-top: 29px;
     font-family: 'montserratregular';
}

.top-right-menu a {
    padding: 9px 20px !important;
    color:#9b9b9b !important;
    font-size: 24px !important;
}
.top-right-menu li {
    border-right: 1px solid #d2d2d2;
}

.top-right-menu li:last-child {
    border-right: none;
}

.nav.navbar-nav.navbar-right.top-right-menu {
    margin-top: 23px;
    margin-right: 11px;
}

.badge-custom {
    background-color: #ff0900;
    position: absolute;
    right: 6px;
    top: 19px;
}

.slimScrollDiv a {
    font-size: 16px !important;
}

.label-warning {
    background-color: #ff0900;
}
.top-right-menu a:hover,
.top-right-menu a:active,
.top-right-menu a:focus{
    background: #fff !important;
}

.drop-custom{
    background: #f6f6f6;
}

.right-inner-addon {
    position: relative;
}

.right-inner-addon .fa-search {
    color: #737373;
    font-size: 21px;
    padding: 12px 9px;
    pointer-events: none;
    position: absolute;
    right: 10px;
}

.search-top {
    padding: 20px 2px 17px 24px;
}

.search-top .form-control {
    height: 44px;
   /* border-radius: 20px;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
   /* box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.17) inset;*/
}

.auth-user {
    color: #ffaa05;
}

.profile .edit-opt {
    color: #fff;
    font-size: 20px;
    position: absolute;
    right: 9px;
    top: 96px;
}

.profile {
  margin-top: -135px;
  padding-left: 60px;
  position: relative;
}

.profile-name {
    color: #fff;
    margin-top: -96px;
}

.info-pro ul li {
    color: #7a7a7a;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 40px;
}

.info-pro ul.detail li > .fa {
    color: #2895f6;
    font-size: 18px;
    margin-right: 7px;
    padding: 0;
    text-align: center;
    width: 20px;
}

.sidebar-collapse .hidden-xs.hidden-sm {
    display: none;
}
    
.sidebar-collapse .drop-custom a {
    padding: 15px 6px !important;
}

.sidebar-collapse .user-image {
    border-radius: 30px;
    height: 40px;
    margin-right: 0;
    width: 40px;
}

.sidebar-collapse.skin-blue .sidebar a {
    padding: 15px 20px;
}

.content-header {
    background: #fff;
}

.btn-mahroon,
.btn-mahroon:hover,
.btn-mahroon:focus{
    background: #7f2d2a;
    color:#fff;
    padding: 6px 20px;
    border-radius: 2px;
    font-size: 16px;
    font-family: 'montserratregular';
}

.heading-text-color {
    color:#737373;
    font-size:20px;
    font-family: 'montserratregular';
}

.left-page-button {
    margin-top: 10px;
}

.content.dashboard-box{
    background: #fff none repeat scroll 0 0;
    margin: 15px;
}

.table > tbody > tr > td, 
.table > tbody > tr > th, 
.table > tfoot > tr > td, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > thead > tr > th {
    padding:18px;
    font-family: 'montserratlight';
    color: #6b818c;
}

.table > tbody > tr > td, 
.table > tbody > tr > th, 
.table > tfoot > tr > td, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > thead > tr > th {
    border-top:none;
}

.table > thead > tr > th {
    border-bottom: none;
    font-size: 16px;
    color: #6b818c;
    font-family: 'montserratregular';
    font-weight: 400;
}

.pagination > .active > a,
 .pagination > .active > a:focus, 
 .pagination > .active > a:hover, 
 .pagination > .active > span, 
 .pagination > .active > span:focus, 
 .pagination > .active > span:hover {
    background: #7F2D2A;
 }

thead {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
}

.fa.fa-pencil-square-o,
.fa.fa-eye{
    color:#737373;
    font-size: 18px;
    padding-right: 10px;
}
.modal-title {
    font-size: 22px;
    color:#7c7c7c;
    font-family: 'montserratregular';
}
.modal-header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
    border-bottom: none;
}

.form-control {
    border-radius:0;
    height: 42px;
}
.add-court-pic {
    color: #7c7c7c;
    font-size: 16px;
    margin-top: 10px;
    font-family: 'montserratlight';
    font-weight: 100;
}

.modal-body {
    padding: 35px;
}

.btn-green,
.btn-green:hover,
.btn-green:focus,
.btn-green:active{
    background: #51b948;
    color:#fff;
    border-radius: 0;
    padding: 10px 30px;
    font-size: 16px;
     font-family: 'montserratlight';
}

.btn-gray,
.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active{
    background: #828282;
    color:#fff;
    border-radius: 0;
    padding: 10px 30px;
    font-size: 16px;
     font-family: 'montserratlight';
     margin-left: 10px;
}
.Availability {
    color:#7c7c7c;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
   .search-top {
        padding: 5px 10px 5px 5px;
   }
   .top-right-menu {
        float: left !important
   }
   .main-header .navbar-custom-menu {
    float: left !important;
   }
   .nav.navbar-nav.navbar-right.top-right-menu {
        margin-top: 0;
   }
   .main-sidebar, .left-side {
    padding-top: 269px !important;
}

/*.btn-mahroon.pull-right {
    float: none !important;
}*/

.content {
    padding: 0 0 23px !important;
}

.content-header {
    padding: 5px !important;
}

.btn-mahroon,
.btn-mahroon:hover{
    padding:6px 7px;
    font-size: 13px;
}

.content.dashboard-box {
    margin:0;
    padding: 5px !important;
}

.left-top-drop a {
    padding-left: 30px !important
}

.heading-text-color {
    margin-top: 13px;
}
.top-heading {
    font-size: 20px;
}
    
}



@media only screen and (min-width: 768px) and (max-width: 1024px) { 

    .main-header .sidebar-toggle {
        padding: 28px 25px 3px !important;
    }

}











