/*including All Css File*/
@import url("custom-font.css");
@import url("font-awesome.css");
/*including All Css File*/

/* Base Css
-------------------------------------------------- */

.padding-left {
    padding-left: 0;
}

.padding-right {
    padding-right: 0;
}

.padding-zero {
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Top Nav Settings
-------------------------------------------------- */

.nav-top {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
    position: relative;
    z-index: 999;
}

.navbar-right {
    margin-top: 15px;
}

.navbar-brand {
    height: auto;
}

.nav-top .navbar-nav > li > a {
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 18px;
    color: #353535;
    font-weight: normal;
    font-family: 'montserratregular';
}

.navbar-default {
    background-color: #fff;
    border-color: transparent;
}

body .right-nav-log a {
    border-radius: 10px;
    color: #727272 !important;
    font-size: 18px !important;
    font-family: 'montserratlight' !important;
    margin-left: 10px;
    margin-top: 23px;
    padding: 7px 15px !important;
}

.right-nav-log a:hover{
    background-color: #7f2d2a !important;
    color:#fff !important;
}


.Login_bg {
    background: url('../img/login-bg.png')no-repeat;
    background-size: 100%;
    background-size: cover;
}

.top-white {
    background:url('../img/shadow-bg.png') repeat-x;
    float: left;
    height: 30px;
    position: absolute;
    top: -1px;
    width: 90%;
    z-index: 999;
}

.top-settingss {
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
}

.navbar {
    border-radius: 0;
}

.login-inner-wraper {
    background-color: #fff;
    border: 4px solid #fff;
    box-shadow: 0 0 55px #adadad;
    margin-top: 15%;
    padding: 24px;
    position: relative;
    width: 500px;
}

.inner-login {
    background: rgba(0, 0, 0, 0) url("../img/wraper-bg.png") repeat scroll 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    padding: 5px;
}

.login-form {
    padding: 20px 20px 30px;
}

.border-top {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.or-text {
    background: #fff none repeat scroll 0 0;
    left: 41%;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: -9px;
}

.btn-green,
.btn-green:hover {
    background-color: #52b848;
    color: #fff;
    border-radius: 0;
    padding: 11px;
    font-size: 20px;
    margin-bottom: 25px;
}

.btn-fb,
.btn-fb:hover {
    background-color: #5975b1;
    color: #fff;
    padding: 12px;
    border-radius: 0;
    font-size: 15px;
}

.btn-twiiter,
.btn-twitter:hover {
    background-color: #52a2c6;
    color: #fff !important;
    padding: 12px;
    border-radius: 0;
    font-size: 15px;
}

.inner-login h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.inner-login .form-control {
    height: 42px;
    border-radius: 0;
}

.forget-pass a {
    color: #51b948;
}

.forget-pass {
    margin-top: 8px;
}

.error {
    color: #7f2d2a;
    font-weight: normal;
}

.register {
    margin-bottom: 150px;
}

/** Home Page */

.carousel-inner > .item > a > img,
.carousel-inner > .item > img {
    line-height: 1;
    width: 100%;
}

.text-section {
    border-radius: 6px;
    color: #fff;
    display: table-cell;
    left: 0;
    margin: 0 auto;
    padding: 0px 37px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 32%;
    width: 55%;
    z-index: 1;
}

.main-heading-banner h1 {
    font-weight: bold;
}
.carousel-indicators {
    display: none;
}
.btn.btn-white {
    background: #fff none repeat scroll 0 0;
    color: #707070;
    font-size: 23px;
    padding: 20px 75px;
    font-family: 'montserratregular';
}

.main-heading-banner p {
    font-size: 16px;
    margin: 30px 0 34px;
}

.green-text {
    color: #91c73e;
}

.find-section {
    background-color: #eaeaea;
    padding: 20px 0 40px;
}

.find-section .form-control {
    height: 50px;
    border-radius: 0;
}

.input-group-addon {
    border-radius: 0;
}

.find-section label {
    color: #525151;
    font-size: 18px;
    font-weight: normal;
}

.find-section h3 {
    color: #6a6a6a;
    margin-bottom: 27px;
    font-size: 30px;
}

.btn-find,
.btn-find:hover,
.btn-find:active {
    background-color: #7e2d2a;
    color: #fff;
    border-radius: 0;
    font-size: 16px;
    padding: 11px 30px;
    margin-top: 32px;
}

.easy-process img {
    margin: 0 auto;
}

.seprator {
    background: url('../img/saprater.png') no-repeat right center;
    border-image-width: 30px;
}

.easy-process h3 {
    color: #7a7a7a;
    font-size: 30px;
    margin-bottom: 30px;
}

.easy-process h4 {
    color: #7a7a7a;
    font-size: 24px;
    margin-top: 30px;
}

.easy-process {
    background: rgba(0, 0, 0, 0) url("../img/wraper-bg.png") repeat scroll 0 0;
    padding: 42px 0 50px;
}

.enjoy-game {
    width: 192px;
}

.court-near {
    background: rgba(0, 0, 0, 0) url("../img/court-bg.png") repeat;
    background-size: 100%;
    background-attachment: fixed;
    padding: 40px 0 70px;
}

.title-mahroon {
    color: #944e3c;
}

.court-near h3 {
    color: #fff;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 35px;
}

.btn-round {
    background-color: #fff;
    border: 2px solid #7e2d2a;
    border-radius: 25px;
    font-size: 16px;
    color: #7e2d2a;
    padding: 8px 40px;
    margin-bottom: 40px;
}

.btn-round:hover,
.btn-round:active,
.btn-round:focus {
    background-color: #7e2d2a;
    color: #fff;
}

.inner-court-box {
    padding: 15px 0;
}

.court-near p {
    font-size: 13px;
    color: #898f8d;
    margin-bottom: 20px;
}

.inner-court-box {
    background: #fff none repeat scroll 0 0;
    padding: 15px;
}

.green-texts {
    color: #6c6c6c;
}

.fatured-partners {
    background: rgba(0, 0, 0, 0) url("../img/wraper-bg.png") repeat scroll 0 0;
    padding: 40px 0 60px;
}

.fatured-partners h3 {
    color: #7a7a7a;
    font-size: 30px;
}

/* carousel */

.media-carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
    margin-top: 30px;
}

/* Previous button  */

.media-carousel .carousel-control.left {
    left: -12px;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width: 40px;
    margin-top: 30px
}

/* Next button  */

.media-carousel .carousel-control.right {
    right: -12px !important;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width: 40px;
    margin-top: 30px
}

/* Changes the position of the indicators */

.media-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the colour of the indicators */


.media-carousel .carousel-indicators li {
    background: #c0c0c0;
}

.media-carousel .carousel-indicators .active {
    background: #333333;
}

.media-carousel img {
    height: 83px;
    width: 111px;
}

.media-carousel .carousel-control.left {
    background: url('../img/left-bottom-arrow.png') no-repeat;
    height: 60px;
    border-radius: 0;
}

.media-carousel .carousel-control.right {
    background: url('../img/right-bootom-arrow.png')no-repeat;
    height: 60px;
    border-radius: 0;
}

.scial-icon {
    float: left;
    height: 100px;
    left: 0;
    position: fixed;
    top: 42%;
    width: 35px;
    z-index: 999;
    /*background:rgba(255, 255, 255, 0.8);*/
}

.scial-icon a {
    display: block;
}

.list-unstyled.scial-icon > li i {
  font-size: 20px;
  margin-bottom: 0;
  color:#fff;
}
.list-unstyled.scial-icon > li{
    width: 39px;
    height:40px;
    border-radius:0px 4px 4px 0px;
    color:#000;
    text-align: center;
    line-height: 50px;
    margin-bottom: 5px;
}
.list-unstyled.scial-icon > li.facebook{ background-color: #3b59a2 }
.list-unstyled.scial-icon > li.twitter{ background-color: #00b2f8 }
.list-unstyled.scial-icon > li.google-plus{ background-color: #e84a2f }
.list-unstyled.scial-icon > li.pintrests{ background-color: #dd1a16 }

/* End carousel */

@media only screen and (min-width: 320px) and (max-width: 767px) {


    .nav-top .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .right-nav-log a, .right-nav-log a:hover {
        text-align: center;
        width: 50%;
    }
    .top-settingss {
        display: none;
    }

    .login-inner-wraper {
        width: auto;
    }

    .footer {
        height: auto !important;
    }

    .nav-top {
        min-height: 96px;
    }

    .navbar-default .navbar-toggle {
        border-color: #ddd;
        margin-top: 16px;
    }

    .padding-left,
    .padding-right {
        padding: 0;
        margin-bottom: 10px;
    }

    .text-right {
        text-align: left;
    }

    .login-inner-wraper {
        margin-bottom: 100px;
    }

    .navbar-brand {
        width: 93px;
    }

    .nav-top {
        min-height: 67px;
    }

    .text-section h1 {
        font-size: 16px;
    }

    .text-section {
        padding: 0;
        width: 75%;
        top: 0;
    }

    .main-heading-banner p {
        display: none;
    }

    .btn.btn-white {
        background: #fff none repeat scroll 0 0;
        color: #707070;
        font-size: 16px;
        padding: 8px 6px;
    }

    .carousel-indicators {
        display: none;
    }

    .btn-find {
        width: 100%;
    }

    .find-section h3,
    .fatured-partners h3 {
        font-size: 25px;
    }

    .bg-white {
        margin-bottom: 10px;
    }

    .seprator {
        background: none;
    }

    .media-carousel .carousel-control.right,
    .media-carousel .carousel-control.left {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .navbar-brand {
        height: auto;
        width: 120px;
    }

    .top-settingss {
        display: none;
    }

    .padding-left,
    .padding-right {
        padding: 0;
        margin-bottom: 10px;
    }

    .text-section {
        padding: 0;
        width: 75%;
        top: 25%;
    }

    .text-section h1 {
        font-size: 25px;
    }

    .main-heading-banner p {
        display: none;
    }

    .carousel-indicators {
        display: none;
    }

    .seprator {
        background: none;
    }

    .btn-round {
        padding: 8px 27px;
    }

    .court-near h4 {
        font-size: 15px;
    }

    .find-section label {
        font-size: 15px;
    }

    .btn-find {
        margin-top: 27px;
        padding: 7px 19px;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1500px) {
    .text-section {
        top: 15%;
    }

    .carousel-indicators {
        display: none;
    }
}