
    <div class="form-group clearfix">
        <div for="address" class="col-sm-6 control-label"><?php echo __('First Name'); ?></div>
        <div for="address" class="col-sm-6 control-label"><?php echo $user['User']['first_name']?></div>
     
    </div>
    <div class="form-group clearfix">
        <div for="address" class="col-sm-6 control-label"><?php echo __('Last Name'); ?></div>
        <div for="address" class="col-sm-6 control-label"><?php echo $user['User']['last_name']?></div>     
    </div>
    <div class="form-group clearfix">
        <div for="address" class="col-sm-6 control-label"><?php echo __('Email'); ?></div>
        <div for="address" class="col-sm-6 control-label"><?php echo $user['User']['email']?></div>
    </div>
   
<style type="text/css">
    .col-sm-6.control-label {
    word-wrap: break-word;
}
</style>