 <div class="container">
    <div class="col-sm-12 copright-text text-center">
        <p>2016 © All Rights Reserved. <a href="#">Privacy Policy</a> | <a href="#"> Terms of Service</a> </p>
    </div>
</div>
<style>
.copright-text a {
    color: #333;
}
</style>