<style type="text/css">
	.cms ul, .cms li {
	    margin: 20px !important;
	    /*padding-left: 20px;*/
	}
</style>
<section id="privacy-policy" class="white-bg">

	<div class="container padding-top-bottom">
		<div class="col-xs-12 cms">		
			<h3><?php //echo $pageData['CmsPage']['page_name']; ?></h3>
			<?php echo $pageData['CmsPage']['meta_description']; ?>
		</div>
	</div>
	
</section>